<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>Tank Skin:tank_skin</key>
		<dict>
			<key>Anime Itasensha:itasensha</key>
			<string>3.5.3:awm</string>
			<key>Girls und Panzer:gup</key>
			<string>3.5.3:iawm</string>
			<key>Pravda Winter:pravda_winter</key>
			<string>3.5.3:iawm</string>
			<key>BelTrup (Skelton Skin):beltrup</key>
			<string>3.5.3:</string>
			<key>Type59/Type62 Gold Skin:type59_62_gold</key>
			<string>3.5.3:iawm</string>
			<key>Kagura Skin Set:kagura</key>
			<string>3.5.3:iawm</string>
		</dict>
		<key>Tank Camouflage:tank_camouflage</key>
		<dict>
			<key>Transparent Camouflage:transparent</key>
			<string>3.5.3:iawm</string>
			<key>TB Camouflage:vh</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Green Purple):wgl_green_purple</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Red &amp; Green):wgl_red_green</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Red &amp; Purple):wgl_red_purple</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Red &amp; Yellow):wgl_red_yellow</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Yellow &amp; Green):wgl_yellow_green</key>
			<string>3.5.3:iawm</string>
			<key>WGL Camouflage(Yellow &amp; Purple):wgl_yellow_purple</key>
			<string>3.5.3:iawm</string>
		</dict>
		<key>Hangar Skin:hangar</key>
		<dict>
			<key>MW Hangar Skin:mw_default</key>
			<string>3.5.3:iawm</string>
		</dict>
		<key>Exhaust Smoke:exhaust_smoke</key>
		<dict>
			<key>Flower(April Fool Joke):april_flower</key>
			<string>3.5.3:iawm</string>
			<key>IS-3D Electricity:defender_electricity</key>
			<string>3.5.3:iawm</string>
			<key>Tankenstein Fire:tanken_fire</key>
			<string>3.5.3:iawm</string>
		</dict>
		<key>Drive Arrow:drive_arrow</key>
		<dict>
			<key>Transparent Rate 50%:transparent50</key>
			<string>3.5.3:iawm</string>
			<key>Transparent Rate 75%:transparent75</key>
			<string>3.5.3:iawm</string>
			<key>Transparent Rate 100%:transparent100</key>
			<string>3.5.3:iawm</string>
		</dict>
	</dict>
	<key>Projekt GuP:gup</key>
	<dict>
		<key>Main Mod Pack:modpack</key>
		<dict>
			<key>Projekt GuP:projekt_gup</key>
		</dict>
	</dict>
</dict>
</plist>